NEXT_PUBLIC_SUPABASE_URL=credentials-supabase
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=credentials-supabase
SUPABASE_SERVICE_ROLE_KEY=replace-with-roley-key--supabase
SUPERADMIN_EMAIL=replace-with-random-email
SUPERADMIN_PASSWORD=replace-with-a-long-random-password
SUPERADMIN_SESSION_SECRET=replace-with-a-long-random-alphanumeric-session-secret